.footer{
    margin-top: 20px;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:20px;
}
.footerLink{
    text-decoration:underline;
}
.colorFooterLink{
    color: #1e30f3 !important;
}
.elemontFooter{
    display: flex;
    justify-content: space-between;
}
.forRespansive{
    margin-top: 20px;
}
.copy{
    margin-top: 30px;
}
@media only screen and (min-width:0px) and (max-width:500px) {
    .elemontFooter{
        display: block;
    }
    
}